
@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSans.ttf");
}
@font-face {
  font-family: IRANSansBold;
  src: url("./fonts/IRANSansBold.ttf");
}
@font-face {
  font-family: IRANSansLight;
  src: url("./fonts/IRANSansLight.ttf");
}

body {
  font-family: IRANSans;
}
.title h1{
  font-family: IRANSansBold;
  font-size: 2rem;
  font-weight: 900;
}